<html>
    <head>
        <title>Twitter Clone</title>
    </head>
    <body>
        <h1>Twitter Clone</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/login'>Login</a></li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/create_user'>Create User</a></li>
            <li><a href='/create_message'>Create Message</a></li>
        </ul>
        {# 
            this is a jinja2 comment
            anything in {% %} is jinja2 code, not html
        #}
        {% block content %}
        {% endblock %}
    </body>
</html>