<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>Twitter Clone</title>
    </head>
    <body>
        <h1>Twitter Clone</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            {% if is_logged_in %}
            <li><a href='/create_message'>Create Message</a></li>
            <li><a href='/change_password'>Change Password</a></li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/delete_user' onclick="return confirm('Are you sure you want to delete this account?')">Delete Account</a></li>
            {% else %}
            <li><a href='/create_user'>Create User</a></li>
            <li><a href='/login'>Login</a></li>
            {% endif %}
        </ul>
        {# 
            this is a jinja2 comment
            anything in {% %} is jinja2 code, not html
        #}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
