{% extends 'base.html' %}

{% block content %}
<h2>Change Password Page</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form>
    <table>
        <tr><td>old password: </td><td><input type="password" name="old_password"></td></tr>
        <tr><td>new password: </td><td><input type="password" name="new_password"></td></tr>
        <tr><td>new password again: </td><td><input type="password" name="new_password_again"></td></tr>
        <tr><td></td><td><input type="submit" value="Change Password"></td></tr>
    </table>
</form>
{% endblock %}
