{% extends 'base.html' %}

{% block content %}
<h2>Main Page</h2>

<img class="hero-image" src="/static/message_bubble.png" alt="Message Bubble">

{% for message in messages %}
<div class="message">
    <img class="avatar" src="{{ message.image_url }}" alt="{{ message.username }} avatar">
    <p class="message-text">{{ message.text }}</p>
    <p class="message-info">Created at: {{ message.timestamp }}</p>
    <p class="message-info">Username: <a href="/profile?username={{ message.username | urlencode }}">{{ message.username }}</a></p>
    <p class="message-info">Age: {{ message.age }}</p>
    {% if message.last_edited_at %}
    <p class="message-info">Edited at: {{ message.last_edited_at }}</p>
    {% endif %}
    {% if is_logged_in %}
    <a href="/reply_message?id={{ message.id }}">Reply</a>
    {% endif %}
    {% if is_logged_in and username == message.username %}
    <a href="/edit_message?id={{ message.id }}">Edit</a>
    <a href="/delete_message?id={{ message.id }}" onclick="return confirm('Are you sure you want to delete this message?')">Delete</a>
    {% endif %}

    {% for reply in message.replies %}
    <div class="reply">
        <img class="avatar" src="{{ reply.image_url }}" alt="{{ reply.username }} avatar">
        <p class="message-text">{{ reply.text }}</p>
        <p class="message-info">Created at: {{ reply.timestamp }}</p>
        <p class="message-info">Username: <a href="/profile?username={{ reply.username | urlencode }}">{{ reply.username }}</a></p>
        {% if reply.last_edited_at %}
        <p class="message-info">Edited at: {{ reply.last_edited_at }}</p>
        {% endif %}
        {% if is_logged_in and username == reply.username %}
        <a href="/edit_message?id={{ reply.id }}">Edit</a>
        <a href="/delete_message?id={{ reply.id }}" onclick="return confirm('Are you sure you want to delete this message?')">Delete</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}

<div class="pagination">
    {% if has_previous %}
    <a href="/?offset={{ previous_offset }}">Previous</a>
    {% endif %}

    {% if has_next %}
    <a href="/?offset={{ next_offset }}">Next</a>
    {% endif %}
</div>
{% endblock %}
